<div class="header">
  <div class="left-h">
    <%= link_to "Grannell Cottage", "/"%>
  </div>
  <div class="right-h">
    <%= link_to "about us", "/aboutus" %>
    <%= link_to "history", "/history" %>
    <%= link_to "catalog", "/catalog" %>
  </div>
</div>
