<h1>About Us</h1>
<div>this page is for a brief mission statement</div>

<%= link_to "Home", "/" %>
<%= link_to "About Us", "/aboutus" %>
<%= link_to "History", "/history" %>
<%= link_to "Catalog", "/catalog" %>