<h1>Catalog</h1>
<div>books, art, poems, etc. related to Grannell Cottage or Chebeague Island</div>

<%= link_to "Home", "/" %>
<%= link_to "About Us", "/aboutus" %>
<%= link_to "History", "/history" %>
<%= link_to "Catalog", "/catalog" %>