@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

h1 {
  color: #2A5F3D;
  font-family: "EB Garamond", serif;
}

.image-frame {
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);

font-family: 'EB Garamond';
font-weight: 400;
font-size: 92px;
color: #FFFFFF;
white-space: nowrap;
}